{% extends 'worker/base.html' %}
{% block content %}
    {% if taken|length > 0 %}
        <h3>Wybierz typy biletów</h3>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Seans</td>
                    <td>{{ showtime }}</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>Imię</td>
                    <td>{{ client_initial.first_name }}</td>
                </tr>
                <tr>
                    <td>Nazwisko</td>
                    <td> {{ client_initial.last_name }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td> {{ client_initial.email }}</td>
                </tr>
                <tr>
                    <td>Numer telefonu</td>
                    <td> {{ client_initial.phone_number }}</td>
                </tr>
            </table>
            <br>
            <table>
                {{ ticket_form.management_form }}
                {% for form in ticket_form %}
                    {% if form.seat_id.initial is None %}
                        Miejsce: {{ form.seat_id.data }}
                    {% else %}
                        Miejsce: {{ form.seat_id.initial }}
                    {% endif %}
                    {{ form.as_p }}
                {% endfor %}
            </table>
            {{ client_form }}
            {{ reservation_form }}<br><br>
            <input type="reset" value="Wyczyść"/>
            <input type="submit" value="Dalej"/>
        </form>
    {% else %}
        <h2>Nie wybrano żadnych miejsc!</h2>
    {% endif %}
{% endblock %}