* {
    margin: 0;
    padding: 0;
}

body, html {
    min-height: 100%;
}

body {
    /*background-image: url(images/background.jpg);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    width: 80px;
    margin-top: auto;
    margin-left: none;
}

h1.logo-text {
    font-size: 44px;
    font-weight: 700;
    color: #ddd;
    text-align: center;
    letter-spacing: 5px;
}

.series {
    color: white;
}

nav {
    background-color: #1c74b2;
    text-align: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    min-height: 38px;
    line-height: 200%;
}

.menu > li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px dashed #0a2b42;
}

.menu > li:first-child {
    border-left: 1px dashed #0a2b42;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    color: #0a2b42;
}

.series h2 {
    width: 100%;
}

.col-6 {
    margin-top: 15px;
    box-shadow: -4px 4px 5px 0 #000;
    cursor: pointer;
}

.col-6 :hover {
    transform: translateY(-10px);
    transition: 1s;
}