asgiref==3.2.5
azure-common==1.1.25
azure-nspkg==3.0.2
azure-storage==0.36.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.9
DateTime==4.3
Django==3.0.4
django-crispy-forms==1.9.0
django-multiselectfield==0.1.12
django-static-jquery==2.1.4
django-storages-azure==1.6.8
django-timezone-field==4.0
gunicorn==20.0.4
idna==2.9
Pillow==7.1.1
pip-autoremove==0.9.1
psycopg2==2.8.4
pycparser==2.20
PyMySQL==0.9.3
python-crontab==2.4.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8
whitenoise==5.0.1
zope.interface==4.7.2
