{% extends 'worker/base.html' %}
{% block content %}
    {% if 'Administratorzy' in  request.user.groups.values.0.name %}
        <a href="{% url 'tickettype-update-worker' tickettype.ticket_id %}">Aktualizuj informacje o typie biletu</a>
        {% if not tickettype_exists %}
            <a href="{% url 'tickettype-delete-worker' tickettype.ticket_id %}">Usuń typ biletu</a>
        {% endif %}
    {% endif %}
    <br><br>
    <b>Typ:</b> {{ object.type }}<br>
    <b>Cena:</b> {{ object.price }}<br>
    <b>Dodatkowe informacje:</b> {{ object.conditions }}<br>

{% endblock %}
