{% extends 'worker/base_pagination.html' %}
{% block content_pagination %}
    {% if not deleted_list %}
        {% if 'Administratorzy' in  request.user.groups.values.0.name %}
            <a href="{% url 'tickettype-create-worker' %}">Dodaj typ biletu</a><br><br>
            <p></p>
        {% endif %}
        <a href="{% url 'tickettype-deleted-list-worker' %}">Usunięte typy biletów</a>
        <p></p>
        <h3>Lista typów biletów:</h3>
        <p></p>
    {% else %}
        <h3>Lista usuniętych typów biletów:</h3>
    {% endif %}
    <table class="table-striped">
        <th></th>
        <th>Typ biletu &nbsp &nbsp</th>
        <th>Cena &nbsp &nbsp</th>
        <th></th>
        {% for ticket in tickettype_list %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{ ticket.type }}</td>
                <td>{{ ticket.price }}</td>
                <td>
                    <a href="{% url 'tickettype-details-worker' ticket.ticket_id %}">Przejdź do szczegółów</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}