{% extends 'worker/base_pagination.html' %}
{% block content_pagination %}
    <a href="{% url 'showtime-create-worker' %}">Dodaj seans</a><br>
    <p></p>
    {#    jesli jest to lista usunietych seansow, to ukrywa link do "Archiwalne seanse" #}
    {% if not deleted_list %}
        <a href="{% url 'showtime-archive-list-worker' %}">Archiwalne Seanse</a><br>
        <p></p>
        <h3>Lista seansów: </h3>
    {% else %}
        <p></p>
        <h3>Lista archiwalnych seansów: </h3>
    {% endif %}
    <table class="table-striped">
        <thead style="color:darkblue">
        <th></th>
        <th>Tytuł seansu</th>
        <th>Data rozpoczęcia &nbsp</th>
        <th>Data Zakończenia</th>
        </thead>

        {% for showtime in showtime_list %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{ showtime.movie_id.title|title }} &nbsp</td>
                <td>{{ showtime.start_date| date:"d.m.Y H:i" }} &nbsp &nbsp</td>
                <td>{{ showtime.end_date| date:"d.m.Y H:i" }} &nbsp</td>
                <td><a href="{% url 'showtime-details-worker' showtime.showtime_id %}">Przejdź do szczegółów</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
