{% extends 'worker/base_pagination.html' %}
{% block content_pagination %}
    <a href="{% url 'showtime-create-worker' %}">Dodaj seans</a><br>
    {#    jesli jest to lista usunietych seansow, to ukrywa link do "Archiwalne seanse" #}
    {% if not deleted_list %}
        <a href="{% url 'showtime-archive-list-worker' %}">Archiwalne Seanse</a><br>
        <h3>Lista seansów: </h3>
    {% else %}
        <h3>Lista archiwalnych seansów: </h3>
    {% endif %}
    <table>
        <tr>
            <th></th>
            <th>Tytuł seansu</th>
            <th>Data rozpoczęcia</th>
            <th>Data Zakończenia</th>
        </tr>

        {% for showtime in showtime_list %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{ showtime.movie_id.title|title }}</td>
                <td>{{ showtime.start_date| date:"d.m.Y H:i" }}</td>
                <td>{{ showtime.end_date| date:"d.m.Y H:i" }}</td>
                <td><a href="{% url 'showtime-details-worker' showtime.showtime_id %}">Przejdź do szczegółów</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
