{% extends 'worker/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'worker/style.css' %}">
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}

    <a href="{% url 'showtime-update-worker' showtime.showtime_id %}">Aktualizuj informacje o seansie</a>
    <a href="{% url 'showtime-delete-worker' showtime.showtime_id %}">Usuń seans</a>
    <br><br>
    <a href="{% url 'movie-details-worker' showtime.movie_id.movie_id %}">Przejdź do szczegółów filmu</a>
    <br><br>

    <img src="{{ showtime.movie_id.thumbnail.url }}" alt="{{ showtime.movie_id.title }}" width="200" height="285"/><br>
    {{ showtime.movie_id.title|title }}<br>
    <b>data seansu:</b>
    {{ showtime.start_date| time:"H:i" }}
    {{ showtime.start_date| date:"d.m.Y" }} r.-
    {{ showtime.end_date| time:"H:i" }}
    {{ showtime.end_date| date:"d.m.Y" }} r.<br>
    <b>czas trwania:</b> {{ showtime.movie_id.duration }}<br>
    <hr>
    <h3>Rezerwacje na seans:</h3>
    {#    rezerwaja mozliwa tylko, gdy seans sie jeszcze nie odbyl#}
    {% if showtime.start_date > time_now %}
        <a href="{% url 'reservation-form-worker' showtime.showtime_id %}">Dodaj rezerwację</a>
    {% endif %}
    <br>
    <table>
        <tr>
            <th>Imię i Nazwisko</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Do zapłaty</th>
            <th>Opłacona</th>
            <th>Potwierdzona</th>
            <th>Data rezerwacji</th>
            <th>Opłacenie/Potwierdzenie</th>
            <th>Edycja</th>
            <th>Usuwanie</th>
        </tr>
        {% for reservation in reservations %}
            <tr>
                <td>{{ forloop.counter }}. {{ reservation.client_id.first_name }} {{ reservation.client_id.last_name }}</td>
                <td>{{ reservation.client_id.email }}</td>
                <td>{{ reservation.client_id.phone_number }}</td>
                <td>{{ reservation.cost }} PLN</td>
                <td>{{ reservation.paid }}</td>
                <td> {{ reservation.confirmed }}</td>
                <td> {{ reservation.reservation_date| date:"H:i d.m.Y" }}</td>
                <td>
                    <a href="{% url 'reservation-confirm-pay-worker' reservation.reservation_id %}">Opłać/Potwierdź</a>
                </td>
                <td>
                    <a href="{% url 'reservation-update-worker' reservation.reservation_id %}">Edytuj</a>
                </td>
                <td>
                    <a href="{% url 'reservation-delete-worker' reservation.reservation_id %}">Usuń</a>
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    <sup id="details{{ forloop.counter }}" onclick="show_hide({{ forloop.counter }})">Pokaż
                        szczegóły</sup><br>
                    <div id="tickets{{ forloop.counter }}" style="display: none">
                        {% for ticket in tickets %}
                            {% if reservation.client_id == ticket.client_id %}
                                Miejsce: {{ ticket.seat_id.seat_number }}{{ ticket.seat_id.row_number }} -
                                {{ ticket.tickettype_id.type }} {{ ticket.price }}<br>
                            {% endif %}
                        {% endfor %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        <script src="{% static 'worker/js/seanse/ukryj_pokaz_bilety.js' %}"></script>
    </table>
{% endblock %}
