{% extends 'client/base.html' %}
{% load static %}
{% block head %}
    <title>Cennik</title>
    <style>
        .table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            margin-bottom: 1%;
        }

        .table td,
        th {
            font-size: 25px;
            border-top: 1px solid #ddd;
            padding: 5px 12px;
            text-align: left;
            vertical-align: top;
        }

        .table tbody tr:nth-child(even) td {
            background-color: #f3f3f3;
        }

        .table tbody tr:nth-child(odd) td {
            background-color: grey;
        }

        h1 {
            text-align: center;
            color: grey;
        }

        h3 {
            margin-top: 200px;
            color: rgb(182, 179, 12);
        }

        h2 {
            margin-top: 5%;
        }

        a {
            text-decoration: none;
            color: grey;
        }

        a:hover {
            color: #fff;
        }
    </style>
{% endblock %}

{% block logo-text %}
    <h1 class="logo-text">Cennik</h1>
{% endblock %}
{% block content %}
    <br>
    <br>
    <table class="table">
        <tbody>
        <tr>
            <td><strong>Bilety</strong></td>
            <td><strong>Normalny*</strong></td>
            <td><strong>Ulgowy**</strong></td>
        </tr>
        <tr>
            <td>Pn, Śr, Czw</td>
            <td>21 zł</td>
            <td>17 zł</td>
        </tr>
        <tr>
            <td>Tanie wtorki!</td>
            <td>15 zł</td>
            <td>15 zł</td>
        </tr>
        <tr>
            <td>Pt-Nd, Święta</td>
            <td>24 zł</td>
            <td>19 zł</td>
        </tr>
        </tbody>
    </table>
    <h3>
        Normalny* - sprzedawany bez dodatkowych dokumentów kwalifikujących do ceny ulgowej <br>
        Ulgowy** - sprzedawany wyłącznie za ukazaniem ważnej legitymacji uczniowskiej/studenckiej
    </h3>

    {% for i in ticket_types %}
        {{ i.type }} - {{ i.price }}<br>
        {{ i.conditions }}<br><br>
    {% endfor %}
{% endblock %}