{% extends 'client/base.html' %}
{% load static %}
{% block head %}
    <title>Cennik</title>
    <style>
        .table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            margin-bottom: 1%;
        }

        .table td,
        th {
            font-size: 25px;
            border-top: 1px solid #ddd;
            padding: 5px 12px;
            text-align: left;
            vertical-align: top;
        }

        .table tbody tr:nth-child(even) td {
            background-color: #f3f3f3;
        }

        .table tbody tr:nth-child(odd) td {
            background-color: grey;
        }

        h1 {
            text-align: center;
            color: grey;
        }

        h3 {
            margin-top: 200px;
            color: rgb(182, 179, 12);
        }

        h2 {
            margin-top: 5%;
        }

        a {
            text-decoration: none;
            color: grey;
        }

        a:hover {
            color: #fff;
        }
    </style>
{% endblock %}

{% block logo-text %}
    <h1 class="logo-text">Cennik</h1>
{% endblock %}
{% block content %}
    <br>
    <br>

    <table class="table">
        <tbody>
        <tr>
            <th>Typ</th>
            <th>Cena</th>
        </tr>
        {% for ticket in ticket_types %}
            <tr>
                <td><strong>{{ ticket.type }}</strong></td>
                <td><strong>{{ ticket.price }}</strong></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br><br>
    {% for ticket in ticket_types %}
        {{ ticket.type }} - {{ ticket.conditions }}<br>
    {% endfor %}
{% endblock %}