{% extends 'client/base.html' %}
{% block head %}
    <title>{{ object.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
{% endblock %}

{% block content %}
    <div class="card"
         style="width: 50rem; padding:25px;margin-left:400px;box-shadow:0 10px 6px -20px black; margin-bottom: 10px; background-color: #d8d8d8; opacity: 90%">
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        <img src="{{ object.thumbnail.url }}" width="200" height="285" style="margin-left: 250px"/><br>
        <b>tytuł:</b> {{ object.title|title }}<br><br>
        <b>reżyser:</b> {{ object.director }}<br>
        <b>data premiery:</b> {{ object.release_date }}<br>
        <b>czas trwania:</b> {{ object.duration }}<br><br>
        {{ object.description }}<br><br>
        {% if object.trailer_youtube_id %}
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ object.trailer_youtube_id }}"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        {% endif %}
        <div class="card-text">
            <br><br>
            Recenzje, oraz opinie o filmie znajdują się <a class="btn btn-default" href="{{ object.link }}"><b
                class="btn btn-primary">tutaj</b></a>
            <br><br>
        </div>
        Najbliższe seanse:<br>
        {% if showtime %}
            <table>
                {% for x in showtime %}
                    <tr>
                        <td>{{ x.start_date| date:"d.m.Y H:i" }}</td>
                        <td><a class="btn btn-info"
                               href="{% url 'reservation-form-client' x.showtime_id %}">Zarezerwuj miejsce</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <b>Przepraszamy, wybrany film nie jest obecnie wyświetlany.</b>
        {% endif %}
    </div>
{% endblock %}