{% extends 'client/base.html' %}

{% block head %}
    <title>Kino MovieCity</title>
{% endblock %}


{% block logo-text %}
    <h1 class="logo-text">MOVIE CITY</h1>
{% endblock %}

{% block content %}
    {{ MEDIA_URL }}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}

    {% if object_list|length > 0 %}
        <div class="container series">
            {% if today|length > 0 %}
                <h2>Dzisiaj gramy:</h2>
                <div class="row">
                <div class="col-md-4">
                    <br>
                    {% for d in today %}
                        <div class="row">
                            <div class="col-6"><a href="{% url 'movie-details-client' d.movie_id %}"
                                                  title="Zobacz szczególy filmu oraz zwiastun!"> <img
                                    src={{ d.thumbnail.url }}
                                            width="240"
                                    height="240"></a>
                            </div>
                            <br>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <h2>W najbliższe dni gramy:</h2>
            <br>
            <div class="row">
                <div class="col-md-4">
                    {% for i in future %}
                        <div class="row">
                            <div class="col-6"><a href="{% url 'movie-details-client' i.movie_id %}"
                                                  title="Zobacz szczególy filmu oraz zwiastun!"> <img
                                    src={{ i.thumbnail.url }}
                                            width="240"
                                    height="240"></a>
                            </div>
                            <br>

                        </div>
                    {% endfor %}
                </div>
            </div>
            </div>

        </div>
    {% else %}
        <h3>Obecnie nie wyświetlamy żadych filmów.</h3>
    {% endif %}
{% endblock %}
