{% extends 'client/base.html' %}

{% block content %}
    {% if taken|length < 1 %}
        <h2>Nie wybrano typów biletów!</h2>
    {% elif taken|length > 10 %}
        <h2>Możesz zarezerwowoać maksymalnie 10 miejesc!</h2>
    {% else %}
        <div class="card"
             style="width: 50rem; margin-left:400px; padding-right:70px; box-shadow:0 8px 6px -6px black; margin-bottom: 10px; padding-left: 30px;padding-top: 15px; padding-bottom: 30px; background-color: #d8d8d8; opacity: 90%;opacity: 85%">
            <div class="container"
                 style="font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif">
                <h3 class="display-4">Podsumowanie</h3>
                <form action="" method="post">
                    {% csrf_token %}
                    <table>
                        <tr class="table-secondary">
                            <td>Seans :</td>
                            <td>{{ showtime }}</td>
                        </tr>
                        <tr class="table-secondary">
                            <td>Imię :</td>
                            <td>{{ client_initial.first_name }}</td>
                        </tr>
                        <tr class="table-secondary">
                            <td>Nazwisko :</td>
                            <td> {{ client_initial.last_name }}</td>
                        </tr>
                        <tr class="table-secondary">
                            <td>Email :</td>
                            <td> {{ client_initial.email }}</td>
                        </tr>
                        <tr class="table-secondary">
                            <td>Numer telefonu :</td>
                            <td> {{ client_initial.phone_number }}</td>
                        </tr>
                    </table>
                    <br>
                    <table class="table table-striped">
                        <tbody>
                        {{ ticket_form.management_form }}
                        {% for form in ticket_form %}
                            {% for i in seats %}
                                {% if i.seat_id|title == form.seat_id.data|title %}
                                    Miejsce: {{ i }}<br>
                                {% endif %}
                            {% endfor %}
                            {% for i in db_ticket_types %}
                                {% if i.ticket_id|lower == form.tickettype_id.data|lower %}
                                    Typ biletu: {{ i.type }}{{ form.as_p }}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <b>Do zapłaty: {{ total }} PLN</b>
                    {{ client_form }}
                    {{ reservation_form }}<br><br>
                    <input class="btn-lg btn-info" type="submit" value="Zarezerwuj"/>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}