{% extends 'client/base.html' %}
{% block head %}
    <style>
        table, th, td {
            border: 1px solid;

        }
    </style>
{% endblock %}
{% block logo-text %}
    <h1 class="logo-text">Repertuar</h1>
{% endblock %}

{#https://stackoverflow.com/questions/8678336/django-grouping-querysets-by-a-certain-field-in-template#}
{% block content %}
    {% if showtimes|length > 0 %}
        {% regroup showtimes by start_date|date:"d.m.Y" as showtime_by_date %}
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">Tytuł</th>
                <th scope="col">Godzina rozpoczęcia</th>
                <th scope="col">Godzina zakończenia</th>
            </tr>
            </thead>
            {% for showtime in showtime_by_date %}
                <tr>
                    <th colspan="3" style="text-align: center">{{ showtime.grouper }}</th>
                </tr>
                <tbody>
                {% for i in showtime.list %}
                    <tr>
                        <td>{{ i.movie_id.title|title }} </td>
                        <td>{{ i.start_date|date:"H:i" }} </td>
                        <td>{{ i.end_date|date:"H:i" }} </td>
                        <td><a class="btn btn-info" href="{% url 'reservation-form-client' i.showtime_id %}"
                               role="button">Zarezerwuj miejsce</a></td>
                    </tr>
                {% endfor %}

            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>Obecnie nie wyświetlamy żadych filmów.</h3>
    {% endif %}
{% endblock %}