<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anulowanie rezerwacji</title>
    <style>
        td, th {
            text-align: center;
        }
    </style>
</head>
<body>
<center>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    <h3>Aby zrezygnować z rezerwacji prosimy kliknąć poniższy przycisk.</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input type="submit" value="Zrezygnuj">
    </form>
    <br><br>
    <h3>Dane rezerwacji:</h3>
    <table>
        <tr>
            <th>Seans</th>
            <td>{{ reservation.showtime_id }}</td>
        </tr>

        <tr>
            <th>
                Imię i nazwisko
            </th>
            <td>
                {{ reservation.client_id.first_name }}
                {{ reservation.client_id.last_name }}
            </td>
        </tr>
        <tr>
            <th>
                Adres Email
            </th>
            <td>
                {{ reservation.client_id.email }}
            </td>
        </tr>
        <tr>
            <th>
                Do zapłaty
            </th>
            <td>
                {{ reservation.cost }} PLN
            </td>
        </tr>
    </table>
    <br><br>
    <h3>Miejsca:</h3>
    <table>
        <tr>
            <th>Rząd</th>
            <th>Miejsce</th>
        </tr>
        {% for i in  reservation.ticket_id.iterator %}
            <tr>
                <td>{{ i.seat_id.row_number }}</td>
                <td>{{ i.seat_id.seat_number }}</td>
            </tr>
        {% endfor %}
    </table>
</center>
</body>
</html>