<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Repertuar</title>
</head>
<br>
{#{% for object in object_list %}#}
{#    {{ object.movie_id.title }} -#}
{#    <a href="{% url 'showtime-details-client' object.showtime_id %}">#}
{#        {{ object.start_date| date:"d.m.Y H:i" }}#}
{#        <br></a><br>#}
    {#    {{ object.end_date| date:"d.m.Y"  }}#}
    {#    {{ object.end_time| time:"H:i"  }}<br>#}
{#{% endfor %}#}

{#{% for m in movies_dates %}#}
{#    {{ m }}#}
{#{% endfor %}#}
{#{{ movies_dates.4 }}#}
</body>
</html>