<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Repertuar</title>
</head>

<br><br>
{% for date in dates %}
    {% for s_date in showtime_dates %}
        {% if date.day == s_date.start_date.day and date.month == s_date.start_date.month %}
            {{ date| date:"d.m.Y" }}:
            <a href="{% url 'showtime-details-client'  s_date.showtime_id %}">{{ s_date.movie_id.title }}</a> <br>
        {% endif %}
    {% endfor %}
{% endfor %}


</body>
</html>