<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Repertuar</title>
</head>
<body>
<!--    <h1>TU NA RAZIE JEST ŚCIERNISKO</h1>-->
tytul: {{ object.movie_id.movie_title }} <br><br>
rezyser: {{ object.movie_id.movie_director }} <br><br>
data wydania: {{ object.movie_id.release_date }} <br><br>
opis: {{ object.movie_id.description }} <br><br>
rozpoczęcie seansu: {{ object.start_time }} <br><br>
zakończenie seansu: {{ object.end_time }} <br><br>
czas trwania: {{ object.duration }}<br><br>
</body>
</html>