{% extends 'worker/base_pagination.html' %}
{% block content_pagination %}
    <br>
    {#    jesli jest to lista usunietych filmow, to ukrywa link do "usuniete filmy" #}
    {% if not deleted_list %}
        {% if 'Administratorzy' in  request.user.groups.values.0.name %}
            <a href="{% url 'movie-create-worker' %}">Dodaj film</a>
            <p></p>
        {% endif %}
        <a href="{% url 'movie-deleted-list-worker' %}">Usunięte filmy</a>
        <p></p>
        <h3>Lista filmów:</h3>
    {% else %}
        <h3>Lista usuniętych filmów:</h3>
    {% endif %}
    <table class="table-striped">
        <th></th>
        <thead style="color:darkblue">
        <th> #</th>
        <th>Tytuł filmu &nbsp</th>
        <th>Usunięty &nbsp</th>
        </thead>
        {% for movie in movie_list %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{ movie.title|title }} &nbsp

                </td>
                {% if not movie.deleted %}
                    <td>Nie</td>
                {% else %}
                    <td>Tak</td>
                {% endif %}
                <td><a href="{% url 'movie-details-worker' movie.movie_id %}">Przejdź do szczegółów</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}