{% extends 'worker/base.html' %}
{% block content %}
    {% if 'Administratorzy' in  request.user.groups.values.0.name %}
        <form action="." method="post">{% csrf_token %}
            <h1>Czy chcesz usunąć film {{ movie.title }}?</h1>
            <h2>Usunąć można tylko film, który nie ma powiązanych seansów</h2>
            <p><input type="submit" value="Yes"/> <a href="{% url 'movie-details-worker' movie.movie_id %}">Nie</a></p>
        </form>
    {% else %}
        <h3>Musisz posiadać uprawnienia administratora, aby wyświetlić tę stronę.</h3>
    {% endif %}
{% endblock %}