{% extends 'worker/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'client/rezerwacjanaseans.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
            type="text/javascript"></script>
    <meta name="viewport" content="width=device-width">
{% endblock %}

{% block content %}
    <form action="" method="post">{% csrf_token %}
        <table>
            {{ form }}
        </table>
        <div class="screen">
            <h1>Please select a seat</h1>

            <div class="exit exit--front">
            </div>
            <ol class="front">
                <li class="row row--A">
                    <ol class="seats" type="A">
                        {% for seat in seats_row_a %}
                            {% if seat.seat_id in taken_seats %}
                                <li class="seat">
                                    <input type="checkbox" id="A{{ seat.seat_number }}" disabled/>
                                    <label for="A{{ seat.seat_id }}">A{{ seat.seat_id }}</label>
                                </li>
                            {% else %}
                                <li class="seat">
                                    <input type="checkbox" id="A{{ seat.seat_number }}"/>
                                    <label for="A{{ seat.seat_id }}">A{{ seat.seat_id }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </li>

                <li class="row row--B">
                    <ol class="seats" type="B">
                        {% for seat in seats_row_b %}
                            {% if seat.seat_id in taken_seats %}
                                <li class="seat">
                                    <input type="checkbox" id="{{ seat.seat_id }}" disabled/>
                                    <label for="{{ seat.seat_id }}">B{{ seat.seat_number }}</label>
                                </li>
                            {% else %}
                                <li class="seat">
                                    <input type="checkbox" id="{{ seat.seat_id }}"/>
                                    <label for="{{ seat.seat_id }}">B{{ seat.seat_number }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </li>

                <li class="row row--C">
                    <ol class="seats" type="C">
                        {% for seat in seats_row_c %}
                            {% if seat.seat_id in taken_seats %}
                                <li class="seat">
                                    <input type="checkbox" id="{{ seat.seat_id }}" disabled/>
                                    <label for="{{ seat.seat_id }}">C{{ seat.seat_number }}</label>
                                </li>
                            {% else %}
                                <li class="seat">
                                    <input type="checkbox" id="{{ seat.seat_id }}"/>
                                    <label for="{{ seat.seat_id }}">C{{ seat.seat_number }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </li>

                <li class="row row--D">
                    <ol class="seats" type="D">
                        {% for seat in seats_row_d %}
                            {% if seat.seat_id in taken_seats %}
                                <li class="seat">
                                    <input type="checkbox" id="{{ seat.seat_id }}" disabled/>
                                    <label for="{{ seat.seat_id }}">D{{ seat.seat_number }}</label>
                                </li>
                            {% else %}
                                <li class="seat">
                                    <input type="checkbox" id="{{ seat.seat_id }}"/>
                                    <label for="{{ seat.seat_id }}">D{{ seat.seat_number }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </li>

                <li class="row row--E">
                    <ol class="seats" type="E">
                        {% for seat in seats_row_e %}
                            {% if seat.seat_id in taken_seats %}
                                <li class="seat">
                                    <input type="checkbox" id="{{ seat.seat_id }}" disabled/>
                                    <label for="{{ seat.seat_id }}">E{{ seat.seat_number }}</label>
                                </li>
                            {% else %}
                                <li class="seat">
                                    <input type="checkbox" id="{{ seat.seat_id }}"/>
                                    <label for="{{ seat.seat_id }}">E{{ seat.seat_number }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </li>

                <li class="row row--F">
                    <ol class="seats" type="F">
                        {% for seat in seats_row_f %}
                            {% if seat.seat_id in taken_seats %}
                                <li class="seat">
                                    <input type="checkbox" id="{{ seat.seat_id }}" disabled/>
                                    <label for="{{ seat.seat_id }}">F{{ seat.seat_number }}</label>
                                </li>
                            {% else %}
                                <li class="seat">
                                    <input type="checkbox" id="{{ seat.seat_id }}"/>
                                    <label for="{{ seat.seat_id }}">F{{ seat.seat_number }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </li>

                <li class="row row--G">
                    <ol class="seats" type="G">
                        {% for seat in seats_row_g %}
                            {% if seat.seat_id in taken_seats %}
                                <li class="seat">
                                    <input type="checkbox" id="{{ seat.seat_id }}" disabled/>
                                    <label for="{{ seat.seat_id }}">G{{ seat.seat_number }}</label>
                                </li>
                            {% else %}
                                <li class="seat">
                                    <input type="checkbox" id="{{ seat.seat_id }}"/>
                                    <label for="{{ seat.seat_id }}">G{{ seat.seat_number }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </li>

                <li class="row row--H">
                    <ol class="seats" type="H">
                        {% for seat in seats_row_h %}
                            {% if seat.seat_id in taken_seats %}
                                <li class="seat">
                                    <input type="checkbox" id="{{ seat.seat_id }}" disabled/>
                                    <label for="{{ seat.seat_id }}">H{{ seat.seat_number }}</label>
                                </li>
                            {% else %}
                                <li class="seat">
                                    <input type="checkbox" id="{{ seat.seat_id }}"/>
                                    <label for="{{ seat.seat_id }}">H{{ seat.seat_number }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </li>

                <li class="row row--I">
                    <ol class="seats" type="I">
                        {% for seat in seats_row_i %}
                            {% if seat.seat_id in taken_seats %}
                                <li class="seat">
                                    <input type="checkbox" id="{{ seat.seat_id }}" disabled/>
                                    <label for="{{ seat.seat_id }}">I{{ seat.seat_number }}</label>
                                </li>
                            {% else %}
                                <li class="seat">
                                    <input type="checkbox" id="{{ seat.seat_id }}"/>
                                    <label for="{{ seat.seat_id }}">I{{ seat.seat_number }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </li>

                <li class="row row--J">
                    <ol class="seats" type="J">
                        {% for seat in seats_row_j %}
                            {% if seat.seat_id in taken_seats %}
                                <li class="seat">
                                    <input type="checkbox" id="{{ seat.seat_id }}" disabled/>
                                    <label for="{{ seat.seat_id }}">J{{ seat.seat_number }}</label>
                                </li>
                            {% else %}
                                <li class="seat">
                                    <input type="checkbox" id="{{ seat.seat_id }}"/>
                                    <label for="{{ seat.seat_id }}">J{{ seat.seat_number }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </li>
            </ol>


        </div>
        <input type="reset" value="Wyczyść"/>
        <input type="submit" value="Zapisz"/>
    </form>
{% endblock %}